{% extends 'index.html.twig' %}

{% block title %}Details de la commande {% endblock %}

{% block body %}
<div class="page-wrap">
<div class="container mt-5">
<h4> Détails de ma commande : </h4></br>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">

    <tr>
     <th>Article</th>
       <th>Prix Unitaire</th>
      <th>Quantité</th>
      <th>Prix Total</th>
    </tr>
  </thead>
  <tbody>
  {% for  cartDetails in carts.getCartDetails() %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
         
         <img src="{{asset('uploads/article/'~ cartDetails.getArticles().image) }} "
              style="width: 100px; height: 120px"
           
              />
          <div class="ms-3">
            <p class="fw-bold mb-1"> {{cartDetails.getArticles().getNom() }}</p>
            
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1"> {{cartDetails.getArticles().Prix() //100 }}€</p>
        <p class="text-muted mb-0"></p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{cartDetails.Quantity }}</p>
        <p class="text-muted mb-0"></p>
      </td>
      <td>
        {{cartDetails.price // 100}} €
      </td>
    
     
    </tr>
   
     {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
