{% extends 'index.html.twig' %}

{% block title %}Panier!{% endblock %}

{% block body %}
<style>
    .gradient-custom {
/* fallback for old browsers */
background: white;

/* Chrome 10-25, Safari 5.1-6 */
background: white;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: white
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}


</style>
<body>
<div class="page-wrap">

<div class="example-wrapper">


   <section class="h-100 gradient-custom">
  
  <div class="test">
  <div class="stepper-wrapper">
  <div class="stepper-item completed">
    <div class="step-counter">1</div>
    <div class="step-name">Panier</div>
  </div>
  <div class="stepper-item active">
    <div class="step-counter">2</div>
    <div class="step-name">Validation</div>
  </div>
  <div class="stepper-item active">
    <div class="step-counter">3</div>
    <div class="step-name">Confirmation</div>
  </div>
 
  </div>
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
           {% if items | length > 0 %}
            <h5 class="mb-0">Panier - {{quantity}}</h5>
          </div>
          <div class="card-body">
             
            {% for item in items %}
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                 
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="{{asset('uploads/article/'~ item.product.image) }} " width="10%"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{item.product.nom}}</strong></p>
                <p>{% if item.product.promotion is not null  %}
                                    <span class="text-dark text-decoration-line-through danger ">{{item.product.prix //100 }}€</span>
                                    
                                     
                                     
                                   <span class="text-danger "> {{item.product.promotion //100 }}€</span>
                                   {% elseif item.product.promotion is null %}
                                   <span class="text-dark"> {{item.product.prix //100 }}€</span>
                                  
                                    {% endif %}
                                     </p>
                <p>Size: M</p>

                
                   <a href="{{ path('delete_cart', {id: item.product.id}) }}" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                  title="Remove item">
								<i class="fas fa-trash"></i>
                               </a>

                 <a href="{{ path('app_ajout_favoris', {id: item.product.id}) }}" 
                 class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                  title="add to favoris">
								<i class="fas fa-heart"></i>
                               </a>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <a href= "{{ path('remove_cart', {id: item.product.id}) }}" class="btn btn-primary px-3 me-2"style="height: 30px;">
                  
                     <i class="fas fa-minus"></i>
                  </a>


                  <div class="form-outline">
                   {{item.quantity}} 
                    <label class="form-label" for="form1"></label>
                  </div>

                  <a href= "{{path('add_cart', {id: item.product.id}) }}" class="btn btn-primary px-3 me-2"style="height: 30px;">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>

               

                <!-- Price -->
                <p class="text-start text-md-center">
                {% if item.product.promotion is not null %}
                  <strong>Total: {{item.quantity * item.product.promotion //100 }} €  </strong>
                  {% elseif item.product.promotion is null %}
                  <strong>Total: {{item.quantity * item.product.prix //100 }} €  </strong>
                  {% endif %}
                 
                </p>
              
              </div>
            </div>
             
              <hr class="my-4" />
               {% endfor %}
          </div>
        </div>



        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Récaputilatif de votre commande</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Articles
                <span> {{quantity}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Livraison
                <span>Gratuit</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total </strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>{{total //100 }} €</strong></span>
              </li>
            </ul>
         <a href="{{ path('checkout') }}" 
         class="btn btn-primary btn-lg btn-block" data-mdb-toggle="tooltip"
                  title="Remove item">Valider mon panier</a>
     
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</body>
 {% else %}

<p> VOTRE PANIER NE COMPORTE AUCUN ARTICLE .
Enregistrer votre sélection d'articles.</p>
{% endif %}
            
{% endblock %}

{% block javascripts %}
 <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js">
  </script>

{% endblock %}
