{% extends 'index.html.twig' %}
{% block body %}
<body>

<div class="page-wrap">
 
     
        <section class="test">
       
            <div class="container px-4 px-lg-5 mt-5">
 <button class="btn"  onclick="myFunction()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
 

<div id="myDIV" style="display:none">  
{{ form_start(form)}}
{{form_row(form.minPrix)}}
{{form_row(form.maxPrix)}}

<button type="submit" class="btn btn-success">Filtrer</button>

{{form_end(form)}}
</div>
<br>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
               
                    {% for article in articles %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class= "position-absolute" style="top: 0.5rem; right: 0.5rem; color:red">
                          </div>
                           <a href="{{ path ('app_article_show',{'id':article.id})  }}" >
                           <img class="card-img-top" src="{{asset('uploads/article/'~ article.image) }} " width="10%"   /></a>
                            <!-- Product details-->
                        
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                     <h5 class="fw-bolder">{{article.nom}} </h5></a>
                                     {# {{article.favoris | length }} #}
                                  
                                    <!-- Product reviews-->
                                   
                                    <div class="d-flex justify-content-center small mb-2">
                                
                                        <div class="bi-star-fill">
                                        
                                        </div>
                                        <div class="bi-star-fill"> 
                                        
                                        
                                         {% if is_granted("ROLE_USER") %}
                            {% set isFavorite = false %}
							{% for favoris in article.favoris %}
								{% if favoris.id == app.user.id %}
                                    {% set isFavorite = true %}
								{% endif %}    
							{% endfor %}
                            {% if isFavorite %}
								<a href="{{ path('app_retrait_favoris', {id: article.id}) }}">
                                <i class="fas fa-heart" style="color:red" ></i></a>
                            {% else %}
								<a href="{{ path('app_ajout_favoris',
                                 {id: article.id}) }}"><i class="far fa-heart" style="color:red"></i></a>
                            {% endif %}

						   {% else %}
							<i class="far fa-heart" style="color:red"></i>
						{% endif %}

                         
                        {# <a href="{{ path('app_like', {id: article.id}) }}">

                       {% if app.user and article.isLikedByUser(app.user) %}
 
                        <i class="fas fa-thumbs-up "
                         aria-hidden="true" style="font-size: 15pt"></i><a/>
                         <span class="js-likes">{{article.likes | length }}</span>
                        
                            </div>
                        {% else  %}

                         <i class="far fa-thumbs-up "
                         aria-hidden="true" style="font-size: 15pt;"></i><a/>
                         <span class="js-likes">{{article.likes | length }}</span>
                        
                          
                         {% endif %} #}

                        
  </div>
                                    
                                    </div>
                                    {% if article.promotion is not null  %}
                                    <span class="text-dark text-decoration-line-through danger ">{{article.prix //100 }}€</span>
                                    <div class= "position-absolute" style="top: 0.1rem;   text-align:left ; color:red">
                                     <img src="{{asset('uploads/promo.png') }} " width="30%">
                                      </div>
                                   <span class="text-danger "> {{article.promotion //100  }}€</span>
                                   {% elseif article.promotion is null %}
                                   <span class="text-dark"> {{article.prix //100  }}€</span>
                                  
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href=" {{ path ('app_article_show',{'id':article.id}) }}}">Ajouter au panier</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                    </div>
                </div>
            </div>

</div>


</body>



   {% block javascripts %}
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}


   
{% endblock %}









